<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>레이아웃</title>
</head>
<body>

    <div style="width: 300px; height: 200px; background:blue;color: white; 
    margin-bottom: 20px; display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <span style ="margin-top: 50px;">로그인1</span>
    </div>


    <div style="width: 300px; height: 200px; background:greenyellow;position: relative;">
        <div style="width: 110px; height: 110px; background:blueviolet;"></div>
        <div style="width: 100px; height: 180px; background:darkturquoise; position: absolute; top: 0px; left: 0px;"></div>
    </div>

    <div style="width: 200px; height: 200px; background:gray;position: relative; margin-top: 100px">
        <div style="width: 50px; height: 50px; background:black; position: absolute; top: 0px; right: 0px;"></div>
    </div>

</body>
</html>